name: Build and Deploy

on: [push, pull_request]

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Pulling git repo
        uses: actions/checkout@v6
      - name: say hi
        run: echo "hello world"
      - name: Setting up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Update pip
        run: python -m pip install --upgrade pip
      - name: Installing all dependencies
        run: pip install -r requirements.txt

